# Лабораторная работа к лекции 1
Ваше имя:

Ваш адрес электронной почты:

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [26]:
# Ваш код
# №1
one = 5
two = 2.3
thee = one+two
print(type(thee))
# №2
one = "string"
print(type(one))
# №3
thee = "second"
print(one+thee)
# №4
try:
    one+two
except Exception as e:
    print("Произошла ошибка:", e)

<class 'float'>
<class 'str'>
stringsecond
Произошла ошибка: can only concatenate str (not "float") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [27]:
# Ваш код
def double_number(a, b):
    a += b
    return a
print(double_number(3,4)) 
print(double_number(14.22,5))

try:
    a
except Exception as e:
    print("Произошла ошибка:", e)


# def double_number(a, b):
# a += b
#     return a

7
19.22

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [28]:
name = "Виктория"
age = 20
spec = "Бизнес-информатика"
print(f"Имя: {name}, Специальность: {spec}, Возраст: {age} лет, или {age*12} месяцев, или {age*12*30} дней...")

Имя: Виктория, Специальность: Бизнес-информатика, Возраст: 20 лет, или 240 месяцев, или 7200 дней...

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [29]:
# Ваш код
c = 3
def func(a,b):
    return a*b/c
print(
    func(2,3)
    , func(0,5)
    , func(-1, 1/3)
    , sep="\n")

2.0
0.0
-0.1111111111111111

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [57]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [49]:
# Ваш код
def zip_method(names, books):
    books[books.index(0)] = "ни одной книги"
    zip_method = list(zip(names, books))
    result = ', '.join(f'{person} прочитал {books} книг' for person, books in zip_method)
    return(result)

def for_method(names, books):
    books[books.index(0)] = "ни одной книги"
    return {key: (names[key], books[key]) for key in range(len(names))}
    #print(enum_names, enum_books)

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [55]:
# Ваш код
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
print(zip_method(people, books_read))
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
print(for_method(people, books_read))

Krishnang прочитал 12 книг, Steve прочитал 6 книг, Jimmy прочитал ни одной книги книг, Mary прочитал 7 книг, Divya прочитал 4 книг, Robert прочитал 10 книг, Yulia прочитал 15 книг
{0: ('Krishnang', 12), 1: ('Steve', 6), 2: ('Jimmy', 'ни одной книги'), 3: ('Mary', 7), 4: ('Divya', 4), 5: ('Robert', 10), 6: ('Yulia', 15)}

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [93]:
# Ваш код
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
a = []
try:
    while len(a)<3:
        for i in range(len(people)):
            if books_read[i] == max(books_read):
                a.append(books_read[i])
                books_read.remove(books_read[i])
except Exception as e:
    print(a)

[15, 12, 10]

In [96]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
a = []
while len(a)<3:
    i = books_read.index(max(books_read))
    a.append(books_read[i])
    books_read.remove(books_read[i])
print(a)

[15, 12, 10]

In [106]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
books_read.sort(reverse=True)
print(books_read[:3])

[15, 12, 10]

In [134]:
import numpy as np
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
print(np.sort(books_read)[-3:])

[10 12 15]