# Лабораторная работа 2-2

## 2.2.1: Reading and Writing Data

Файл [grades.csv](grades.csv) представляет собой файл с именами учащихся и буквенными оценками:

```
Alice; A
Bob; B
Robert; A
Richard; C
```

Записать данные из файла в массив. Добавьте средний балл учащегося в строку учащегося (A=4,B=3,C=2,D=1).

Подсказка: функция [strip()](https://docs.python.org/3/library/stdtypes.html#str.strip) удаляет конечные пробелы из строки.

Запишите этот файл в новый файл `grades_gpa.csv`.

In [2]:
import pandas as pd

Чтение файла

In [125]:
arr = 'grades.csv'

Отрытие файла, создание массива

In [126]:
data_arr = []

read_file =  open(arr, newline='\n')
list_file = read_file.readlines()

Запись данных в массив

In [127]:
for i in list_file:
    i = i.strip()
    parts = i.split(';') 
    data_arr.append([parts[0], parts[1]])

In [128]:
data_arr

[['Alice', ' A'], ['Bob', ' B'], ['Robert', ' A'], ['Richard', ' C']]

In [72]:
gpas = {"A":4, "B":3, "C":2, "D":1}

Добавление данных словаря в массив

In [73]:
for i in data_arr:
    gpa_value = gpas.get(i[1].strip(), 0)  
    i.append(gpa_value)

In [74]:
print(data_arr)

[['Alice', ' A', 4], ['Bob', ' B', 3], ['Robert', ' A', 4], ['Richard', ' C', 2]]

Запись массива в файл

In [77]:
f = 'grades_gpa.csv'
with open(f, 'w') as csv_file:
    for i in data_arr:
        csv_file.write(';'.join(map(str, i)) + '\n')

## 2.2.2: Data Frames

* Рассчитайте средние сертифицированные продажи для всех альбомов.

In [93]:
import pandas as pd
hit_albums = pd.read_csv("hit_albums.csv")

Просмотр информации о данных

In [94]:
hit_albums.head()

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
0,Michael Jackson,Thriller,1982,"Pop, rock, R&B",45.4,65.0
1,AC/DC,Back in Black,1980,Hard rock,25.9,50.0
2,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,22.7,45.0
3,Whitney Houston / Various artists,The Bodyguard,1992,"Soundtrack/R&B, soul, pop",27.4,44.0
4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, progressive rock",20.6,43.0

In [96]:
hit_albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Artist                      77 non-null     object
 1   Album                       77 non-null     object
 2   Released                    77 non-null     int64
 3   Genre                       77 non-null     object
 4   Certified sales (millions)  77 non-null     float64
 5   Claimed sales (millions)    31 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 3.7+ KB

Расчёт и группировка средних продаж по альбомам

In [98]:
df = hit_albums[['Album','Certified sales (millions)']].groupby(by='Album').mean()

In [102]:
df

                                   Certified sales (millions)
Album
(What's the Story) Morning Glory?                        22.0
...Baby One More Time                                    28.0
1                                                        21.6
21                                                       22.3
25                                                       20.0
...                                                       ...
True Blue                                                25.0
Unplugged                                                20.0
Up!                                                      20.0
Whitney                                                  20.0
Whitney Houston                                          25.0

[77 rows x 1 columns]

* Создайте новый фрейм данных, содержащий только альбомы с сертифицированными продажами (более 20 миллионов человек купили альбом).

In [104]:
df1 = df[df['Certified sales (millions)']>20]

In [ ]:
df1


 * Создайте новый фрейм данных на основе набора данных hit_albums, который содержит только исполнителей, у которых в списке есть как минимум два альбома.

Посчёт количества альбомов по артистам

In [118]:
df2 = hit_albums[['Album','Artist']].groupby(by="Artist").count()

Фильтрация

In [119]:
df2 = df2[df2['Album']>=2]

In [120]:
df2

                 Album
Artist
Adele                2
Backstreet Boys      2
Bon Jovi             2
Britney Spears       2
Celine Dion          2
Eagles               2
Madonna              3
Mariah Carey         2
Michael Jackson      5
Pink Floyd           2
Shania Twain         3
The Beatles          3
Various artists      3
Whitney Houston      2

* Создайте новый фрейм данных, содержащий общую сумму всех сертифицированных продаж за каждый год.

In [121]:
df3 = hit_albums[['Released','Certified sales (millions)']].groupby(by='Released').sum()

In [122]:
df3

          Certified sales (millions)
Released
1967                            13.1
1969                            14.4
1970                            25.0
1971                            54.0
1973                            22.7
1976                            73.7
1977                            67.5
1978                            28.0
1979                            57.6
1980                            25.9
1981                            25.0
1982                            45.4
1983                            62.0
1984                           109.6
1985                            67.7
1986                            53.0
1987                           144.5
1988                            20.0
1990                            19.4
1991                            54.2
1992                            76.4
1993                            42.0
1994                            64.0
1995                           111.8
1996                            48.2
1997                            91.0
1999                            72.5
2000                            89.6
2001                            20.0
2002                            65.0
2004                            20.0
2011                            22.3
2015                            20.0